body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(/imagens/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: grid;
}

main {
    padding: 40px;
    background-color: white;
    margin: auto; 
    display: grid;
    place-items: center;
}

main .text{
    font-family: "Nunito", sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

h1{
    margin: -20px;
}

h2{
    color: rgb(20, 135, 189)
}

small{
    font-size: 14px;
}

main .grid4{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
}

main .grid4 .grid{
    width: 300px;
    height: 200px;
    background-color: rgb(230, 227, 221);
    border-top: 8px solid rgba(115, 194, 197, 0.514); 
}



